.yd-scrollview:after {
    display: none;
}

.text-center {
    text-align: center;
}
.text-gray {
    color: #bebebe;
}
.text-blue {
    color: #0092ff;
}
.text-green {
    color: #00c8b6;
}
.text-red {
    color: #fa3263;
}

.create-order {
    margin-bottom: .4rem;
}
.create-order main {
    padding: 0 .2rem;
}
.create-order section {
    margin-top: .2rem;
    border-radius: 4px;
    background-color: #fff;
}
.create-order section > h3 {
    padding: .2rem;
    border-bottom: 1px solid #f2f2f2;
    font-weight: normal;
    color: #ccc;
}
.create-order section .point {
    display: inline-block;
    width: .22rem;
    height: .22rem;
    margin-right: .1rem;
    border-radius: 50%;
    background-color: #ea6a6a;
}
.create-order form {
    padding: 0 .2rem;
}
.create-order form > div {
    display: flex;
    align-items: center;
    min-height: .8rem;
    padding: 0 .1rem;
}
.create-order form > div:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
}
.create-order form > div > span {
    word-break: keep-all;
}
.create-order form > div > input,
.create-order form > div > select,
.create-order form > div > .yd-datetime-input {
    flex: 1;
    margin: 0 .2rem;
}